# Virtual environment
venv/
env/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# SQLite database (if used)
db.sqlite3

# Environment variables file
.env

# VS Code settings
.vscode/

# Others
*.log
*.pot
*.pyc
*.pyo
.DS_Store
